textarea[name=foo] {
    resize: none;

}
textarea:disabled {
  background-color: transparent;

}


.div-tatca-cmt{
	 height: auto; background-color: #f2f3f5 ;border-top: solid 1px #2825d30d;display: none;
}


.stick-xemthem{
  	/*display: none;*/
}




.cl-div-content-boxreadcmt-avt{
  min-height: 50px;overflow: hidden;
	height: auto; width: 100%;padding-bottom: 3px;padding-top: 3px;
}
.cl-div-content-boxreadrepcmt-avt{
    min-height: 45px;overflow: hidden;
	height: auto; width: 100%;
  border-left: solid 2px #413fbbad;
  margin-bottom: 1px;padding-left: 7px; 
}

/* binh luan*/
.div-btn-show-allcmt{
	margin-right: 13px;
	padding-top: 2px;
	width: 17px	;height: 17px;float: left;

	}
.div-btn-like-cmt{
	width: auto	;height: 17px;float: left;margin-top: -2px;margin-left: -20px;color: #9695d8;
	}
.div-btn-rep-cmt{
	width: 17px	;height: 17px;float: right;margin-top: -2px;color: #9695d8;
	}

.div-btn-show-allcmt:hover{
	/*background-color: red;*/
	cursor:pointer;

}

.cl-div-avt-cmt{
  margin-top: 5px;
  height: 100%; 
  width: 8%; 
  float: left;
}
.cl-div-avt-repcmt{
  margin-top: 3px;
  height: 100%; 
  width: 7%; 
  float: left;
}
.cl-div-avt-rep-cmt{
	margin-left: 5px;
  height: 90%; 
  width: 7%; 
  float: left;
}




.cl-div-tare-read{
	padding-left: 15px;
  margin-top: 6px;
  width: 488px;
  float: left; 
  background-color: white;
  height: auto;
  text-align:  justify;
  border-radius: 25px;
  border:solid 1px #eadcf2;
  /*box-shadow: 1px 1px 1px #9695d8;*/
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 15px;
}

.cl-div-tare-readrep{
	margin-left: 5px;
  margin-top: 6px;
  width: 400px;
  float: left; 
  background-color: white;
  height: auto;
  text-align:  justify;
  border-radius: 25px;
  border:solid 1px #eadcf2;
  /*box-shadow: 1px 1px 1px #9695d8;*/
  padding: 7px;
}

.cl-div-tare-read-repcmt{
  margin-left: 2px;
  margin-top: 2px;
  width: auto;
  float: left; 
  background-color: white;
  height: auto;
  text-align:  justify;
  border-radius: 5px;
  border:solid 1px #b4b3d3;
  padding: 1px;
  padding-top: 5px;
}


.tara-read-cmt{


        font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 13px;
	height: 15px;
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    width: auto;
    resize: none;
	overflow:hidden;
	width: 427px;
	       -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tara-read-rep-cmt{

        font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 13px;
	height: 15px;
/*    height: auto;*/
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    width: auto;
    resize: none;
	overflow:hidden;
	width: 380px;
	       -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tara-read-cmtrep{
	height: 15px;
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    width: auto;
    resize: none;
	overflow:hidden;
	width: 350px;
}




.divlikecmt{
	border-top: solid 1px #eadcf2;;
	margin-left: 12px;
	margin-right: 12px; 
	height: 40px;
}
.divbtnlike{
	float: left;height: 100%;
	width: 48%;margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	padding-top: 8px; 
	font-family: inherit; 
	cursor: pointer;
	border-radius: 5px;
        font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.divbtnlike:hover{
	background-color: #c5cfd6;

}
.like-cmt{
        font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.divbtncmt{
        font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
	float: left;
	height: 100%;
	width: 96%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	padding-top: 8px;
	cursor: pointer;
	border-radius: 5px;
}
.divbtncmt:hover{
background-color: #c5cfd6;
}
.divcmt{
	height: 42px;
	background-color:#f2f3f5;
	border-top: solid 1px #c5cfd6;
}
.divrepcmt{
	height: 42px;
	background-color:#f2f3f5;
	
}
.divimgaccountcmt{
	width: 38px;
	height: 38px;
	float: left; 
	margin-left: 12px; 
}
/*.divimgaccountcmtcmt{
  width: 32px;
  height: 32px;
  float: left; 
  margin-left: 12px; 
}*/
.imgaccountrepcmt{
	width: 25px;
	height: 25px; 
	border-radius: 50%; 
	margin-top: 4px;
	float: left;
}




.imgaccountcmt{
	width: 38px;
	height: 38px; 
	border-radius: 50%; 
	margin-top: 4px;
	float: left;
}

.imgaccountcmtsendx{
  width: 32px;
  height: 32px; 
  border-radius: 50%; 
  margin-top: 4px;
  float: left;
}

.imgaccountcmtcmt{
  width: 32px;
  height: 32px; 
  border-radius: 50%; 
  margin-top: 4px;
  float: left;
}


.imgaccountrepcmt{
	width: 32px;
	height: 32px; 
	border-radius: 50%; 
	margin-top: 4px;
	float: left;
}
.divtextcmt{
	float: left; 
	width: 470px;
	margin-left: 7px;
}
.divtextrepcmt{
	float: left; 
	width: 405px;
	margin-left: 7px;
}
.iptextrepcmt{
padding-left: 17px;     
padding-right: 37px;                        
 margin-top: 5px;
width: 433px;
background-color:white;
height: 30px;
border:transparent;
border-radius: 5px;
border: solid 1px #c5cfd6;
 border-radius: 17px;
 border-top-left-radius: 0px;
 box-shadow: 1px 1px 1px #9695d8;
}
.iptextcmt{
/*	margin-top: 5px;
	width: 498px;
	background-color: 
	white;height: 30px;
	border:solid 1px #c5cfd6;
	border-radius: 0px;*/
padding-left: 17px;     
padding-right: 37px;                        
 margin-top: 5px;
width: 498px;
background-color:white;
height: 30px;
border:transparent;
border-radius: 5px;
border: solid 1px #c5cfd6;
 border-radius: 17px;
}
.btnsendcmt{
float: left;margin-top: 9px;
color: #9695d8;
}
.btnrepsendcmt{
float: left;margin-left: 34%;margin-top: 9px;position: absolute;
color: #9695d8;
}
*:focus {
    outline: none;
}
.cl-divrepcmt{
	width: 91%;margin-left: 9%;height: auto;margin-top: 5px; display: none;
}
.divchuacmtbac1{
	width: 457px;float: left;height: auto;padding-right: 5px;margin-left: 10px;
}
.divchuacmtbac2{
	width: 380px;float: left;height: auto;padding-right: 5px;padding-left: 10px;
}


.divbigbigchuamotcmt{
	height: auto;width: 100%;padding-bottom: 7px;
}
.iprepcmtcmt{
	width: 93%;margin-left: 7%;height: 55px;display: none;margin-top: 5px;
}


.morethongtinbinhluancap1{
	margin-top: -5px;
    float: left;
    margin-left: 535px;
    background: transparent;
    width: 20px;
    height: 40px;
    color: #9695d8;
    position: absolute;
    padding-top:  17px;
    padding-left: 3px;
}


.morethongtinbinhluancap2{
	margin-top: -5px;
    float: left;
    margin-left: 445px;
    background: transparent;
    width: 20px;
    height: 40px;
    color: #9695d8;
    position: absolute;
    padding-top:  17px;
    padding-left: 3px;
}












.tuychonnhomcmt1{
  padding: 7px;
  border-radius: 4px;
  border:solid 1px #eadcf2;
  box-shadow: 1px 2px 3px #9695d8; 
  display: none;
  background-color: white;
  width: 150px;
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
}







.tuychonbinhluan1{
	  padding: 7px;
	  margin-left: -3px;
	  background-color: white;
      width: 150px;
      height: auto;
      border-radius: 15px ;
      border:solid 1px #eadcf2;
      box-shadow: 1px 2px 3px #9695d8; 
      position: absolute;
      z-index: 99999;
      border-top-left-radius: 0px;
      margin-top: 25px;
      color: black;

}
.muitentuychonbinhluan{
	margin-left: -7px;bottom: 100%;position: absolute; border-bottom:  solid 8px white;border-left: solid 2px transparent;border-right: solid 20px transparent;
}