.div-item-choose-menu-group{
width: 149px;height: 130px;border-radius: 20px;padding: 25px;
}

.div-big-item-choose-menu-group{
  width: 150px;height: 170px;margin: 27px;margin-top: 20px;margin-bottom: 20px; float: left;
}
.div-big-item-choose-menu-group:hover{
  background-color: #f9f9f9;border-radius: 5px;
  animation-name: rotateylu;
  animation-duration: 1s;
     
}


#div-content-gr-thamgia-quanly ::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
#div-ket-qua-tim-kiem ::-webkit-scrollbar{
  width: 10px;
    height: 7px;
}
/**/
@keyframes rotateylu{
  from{transform: rotateY(0deg);}
  to{transform: rotateY(360deg);}
}


@-webkit-keyframes examplelumenugr {
    from {background-color: #9695d8;}
    to {background-color: #f9f9f9;}
}

/* Standard syntax */
@keyframes examplelumenugr {
    from {background-color: #9695d8;}
    to {background-color: #f9f9f9;}
}
/**/


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



#div-content-tim-kiem-nhom{
 display: none ;
}
/*#div-ket-qua-tim-kiem{
  height: 200px !important;
  overflow: auto !important;

}*/
/* width */



.btn-nhom-menu-dy{
  margin-left: 10px;
   float: right;
  background-color: #9695d8;
  color: white;
  height: 25px;
  border-radius: 3px;
  border: 1px #9695d8 solid;
  padding: 3px;
  cursor: pointer;
}

#div-group-tham-gia {
  height: 180px;
  /*overflow: auto;*/
  border-bottom: solid 1px #9695d8; 
 margin-bottom: 5px;
}
#div-group-quan-ly {
  height: 180px;
  /*overflow: auto;*/
  border-bottom: solid 1px #9695d8; 
}
.div-item-nhom-popup{
     border: solid 1px #9695d8;border-radius: 50%; height: 77px;width: 77px;float: left;margin: 0px;
     cursor: pointer;
     display:inline;
    
}
.div-name-nhom{
	display:inline;
}

div.div-item-nhom{
    overflow: auto;
    white-space: nowrap;
    height: 150px;
}
div.div-item-nhom div{
	display: inline-block;
    color: black;
    /*text-align: center;*/
    padding: 14px;

}
