
@font-face {
  font-family: "Baomoi";
  font-weight: 700;
  src: url("../../../fonts/baomoi-regular-2.0.2.woff2") format("woff2");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
  margin: 0px;
}

.caretl {
  position: absolute;bottom: 100%;right: 18px;
}
 .caretl-outer {
  border-bottom: 10px solid #e4e4e4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;bottom: 100%;right: 18px;
  text-align: center;
}

 .caretl-inner {
  border-bottom: 9px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;bottom: 100%;right: 18px;
  text-align: center;
}


*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  /*-webkit-appearance: none;*/
}
/*ul li{
  -webkit-appearance: none;
}*/

/*button {
  -webkit-appearance: none;
}*/

.buttonll{
  cursor: pointer;width: 80px;height: 30px;padding: 4px;border: solid 1px #9695d8;margin-top: 5px;border-radius: 5px;background-color: white;
  margin-bottom: 3px;text-align: center;
}
.buttonll:hover{
  background-color: #f3eaf7;
}


ul {
  list-style-type: none;
  margin: 0; padding: 0;
}
.baomoi {font-family: "Baomoi"}
.clear {clear:both}


/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: Arial, Helvetica, sans-serif;


  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
#btn-show-dynamic-menu{
  background-color: transparent;
  color: #9695d8;
  border: solid 1px transparent;
  width: 48px;
  height: 48px;
  /* border-radius: 50%;*/
}
#btn-show-dynamic-menu:hover{
  cursor: pointer;

}
/* Modal Content */

/*#div-head-popup-show-all-menu{
        background-color: #fefefe;
    margin: auto;
    height: 20px;
    border-bottom:  1px solid #9695d8;
    width: 100%;
    display: none;
}*/

#div-head-popup-show-all-menu{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-bottom:  1px solid #9695d8;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





/**/




/*#btn-tao-nhom-in-model{
  float: right;
  background-color: #9695d8;
  color: white;
  height: 25px;
  border-radius: 3px;
  border: 1px #9695d8 solid;
  padding: 3px;
  cursor: pointer;
}*/



/*#btn-huy-tao-nhom-in-model{
  float: right;
  background-color: #9695d8;
  color: white;
  height: 25px;
  border-radius: 3px;
  border: 1px #9695d8 solid;
  padding: 3px;
  cursor: pointer;
}
#btn-xac-nhan-tao-nhom-in-model{

}*/






























/**/














/* Style the tab */
.tab {
    overflow: hidden;
    border: transparent;
    /*border-bottom: 1px solid #ccc;*/
    background-color: white;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #9595d8;
    border-bottom: 1px solid #9695d8;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #cfb9e8;
    /*border:solid 1px #9595d8;*/
}

/* Create an active/current tablink class */
.tab button.active {
     border:solid 1px #9595d8;
     border-bottom: none;
    /*background-color: #9595d8;*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
     border: transparent;
    border-top:  1px solid #9695d8;
   
    border-top: none;
}




nav.navtop-menu {
  /*overflow: hidden;*/
  height: 48px;
  background-color: white;
  line-height: 48px;
}

ul.navtop-left {float: left;}

ul.navtop-right {float: right;display: inline-block;}

.navtop-menu > ul > li {
  float: left;display: block;
  
}

.navtop-menu > ul > li > a {
  display: block;
  color: inherit;
  text-align: center;
  /*padding: 14px 16px;*/
  padding: 0px 16px;
  text-decoration: none;
  /*height: 100%;*/
  position: relative;
}

/*.navtop-menu > ul > li > a:hover:not(.active) {
  background-color: rgba(17, 17, 17, 0.4);
}*/
.navtop-home-button {
  color: #9695d8 !important;
}
.navtop-home-button i {
  vertical-align: middle;
}

.active {
  color:#1DA1F2;
  /* background-color: #1DA1F2; */
}

.search-container {
  float: left;
}
.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;

/**/






}
.search-container button:hover {
  background: #ccc;
}
.topnav input#topnav-search  {
  padding: 5px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px #9695d8;
  background: white;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}


.topnavroot{
  padding-top:  3px;
  padding-bottom:   3px;
 background-color: white;
 position: sticky;
 top: 0;
/* border-bottom-color: #eadcf2;*/
/* border-style: solid;*/
 border-width: 0px;
 /*border-bottom-width: 1px;*/
 z-index: 10;
 box-shadow: 1px 1px 1px #a78ca836;


}
.topnav {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}




/* Dropdown menu */
.taikhoan-dropdown-content {
  position: relative;
}

.taikhoan-dropdown-content > a {
  
}
.taikhoan-dropdown-content > a > img {
  border-radius: 50%;
  width: 30px; height: 30px;
  /*transform: translateY(30%);*/
  vertical-align: middle;
   
}

.itemnavtopleft{
  cursor: pointer;
  color: #777777;
  font-weight: bold;
  padding-left: 10px;padding-right: 10px;
}
.itemnavtopleft:hover{
  background-color: #eadcf224;
  color: black;
}
.taikhoan-dropdown-menu {
  position: absolute;top:110%;right: 0%;
  width: 200px;display: none;
  border-radius: 3px;box-shadow: 1px 1px 5px #999;
  background-color: #fff;
  line-height: 20px !important;
}

.thongbao-dropdown-menu {
  position: absolute;top:110%;right: 0%;
  width: 200px;display: none;
  border-radius: 3px;box-shadow: 1px 1px 5px #999;
  background-color: #fff;
  line-height: 20px !important;
}


.taikhoan-dropdown-menu::after {
  content: '';
  position: absolute;bottom: 100%;right: 10%;
  border: 10px solid rgba(255, 255, 255,1);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
}
.taikhoan-dropdown-menu::before {
  content: '';
  position: absolute;bottom: 100%;right: 9%;
  border: 12px solid rgb(153, 153, 153, 0.5);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid transparent;
}

.taikhoan-dropdown-menu > li {
  margin: 8px 0; padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.taikhoan-dropdown-menu > li:last-child {
  border-bottom: 0;margin-bottom:0;
}

.taikhoan-dropdown-menu > li:first-child h3 {
  font-family: 'Baomoi', Arial, Helvetica, sans-serif; font-size: 20px;
  margin-bottom: 8px; width: 100%;
  white-space: nowrap;text-overflow: ellipsis; overflow: hidden;
}
.taikhoan-dropdown-menu > li:first-child  p {
  color: #666 !important;
}

.taikhoan-dropdown-menu > li > a {
  display: block; padding: 8px 10px; background-color: #fff;
  text-decoration: none;color: #000;
}

.taikhoan-dropdown-menu > li > a:hover {
  background-color: #f1f1f1;
}
/* End Dropdown menu */



/*popupthongbao*/
.divmainnoidungpopupthongbao{
  
  border-radius: 3px;
  /*border:solid 1px #9695d8;*/
  /*position: fixed;*/
/*  margin-left:  26%;
  margin-right:   26%;*/
  /*margin: 0 auto;*/
  overflow: hidden;
    margin: auto;
    position: relative;
  width: 550px;
  height: 550px;
  margin-top: -50px;
  background-color: white;

}

.toppopuptocaothongbao{
      font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #e4e6e83d;
  float: left;
  font-weight: bold;
  border-top-left-radius:  5px;
  border-top-right-radius:  5px;
  padding: 5px;
  padding-top: 9px;
  width: 100%;
  height: 40px;
  text-align: left;
  padding-left: 13px;
   border-bottom: solid 1px #eadcf238;

}


.divbodynoidungpopupthongbao{
  padding: 10px;
  padding-right: 2px;
  padding-left: 10px;
   /*border-top: solid 1px #eadcf2; */
  height: 650px;
}


.divtopbodythongbao{
  /*margin-top: 40px;*/
height: 40px;
}


.divbodybodythongbao{
height: 470px;
overflow: auto;
}
.divbotpopupthongbao{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: 30px;
  padding: 6px;
  /*border-top: solid 1px #eadcf238; */
}


#botbodyxemthempheduyetbaiviet::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #e4e6e82b;
}

#botbodyxemthempheduyetbaiviet::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#botbodyxemthempheduyetbaiviet::-webkit-scrollbar-thumb
{
  background-color: #18222c47;
/*  border: 1px solid #18222c47;*/
}


#divbodybodythongbaonhom::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #e4e6e82b;
}

#divbodybodythongbaonhom::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#divbodybodythongbaonhom::-webkit-scrollbar-thumb
{
  background-color: #18222c47;
/*  border: 1px solid #18222c47;*/
}


.homepage-active {position: relative;border-bottom: 3px solid #666}
/*.homepage-active::after, .homepage-active::before {
  width: 50% !important; height: 3px !important;
  content: ""; height: 0px; background-color: #666;
  position: absolute; top: 100%; width: 0%; transition: all 0.3s;
}


.homepage-active::after {
  right: 50%;
}

.homepage-active::before {
  left: 50%;
}*/
















/*thong bao*/








.thongbaodiv{
  height: 77px; border:solid 1px #e4e6e8;margin-right: 7px;padding: 3px;margin-bottom: 1px;cursor: pointer;background-color: #dbdff285;

}
.thongbaodadocdiv{
   height: 77px; border:solid 1px #e4e6e8;margin-right: 7px;padding: 3px;margin-bottom: 1px;cursor: pointer;background-color: white;
}