body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: Arial, Helvetica, sans-serif;

}
#btn-show-dynamic-menu{
    background-color: transparent;
    color: #9695d8;
    border: solid 1px transparent;
    width: 48px;
    height: 48px;
   /* border-radius: 50%;*/

}
#btn-show-dynamic-menu:hover{
cursor: pointer;
    
}
/* Modal Content */
/*#div-head-popup-show-all-menu{
        background-color: #fefefe;
    margin: auto;
    height: 20px;
    border-bottom:  1px solid #9695d8;
    width: 100%;
    display: none;
}*/
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.div-item-nhom-popup{
     border: solid 1px #9695d8;border-radius: 50%; height: 77px;width: 77px;float: left;margin: 4px;
     cursor: pointer;
}



/**/




































/**/














/* Style the tab */
.tab {
    overflow: hidden;
    border: transparent;
    /*border-bottom: 1px solid #ccc;*/
    background-color: white;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #9595d8;
    border-bottom: 1px solid #9695d8;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #cfb9e8;
    /*border:solid 1px #9595d8;*/
}

/* Create an active/current tablink class */
.tab button.active {
     border:solid 1px #9595d8;
     border-bottom: none;
    /*background-color: #9595d8;*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
     border: transparent;
    border-top:  1px solid #9695d8;
   
    border-top: none;
}













/**/
















/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clear {clear:both}

ul.navtop-menu {
    overflow: hidden;
    background-color: white;
}

.navtop-menu li {
    float: left;
}

.navtop-menu li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navtop-menu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    color:#1DA1F2;
    /* background-color: #1DA1F2; */
}

.search-container {
    float: left;
  }
  .search-container button {
      float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;



  }
  .search-container button:hover {
    background: #ccc;
  }
  .topnav input[type=text]  {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: #d2e5f1;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  body {
    background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
    margin: 0px;
  }

  .topnavroot{
   background-color: white;
   position: sticky;
   top: 0;
   border-bottom-color: rgb(118, 223, 236);
   border-style: solid;
   border-width: 0px;
   border-bottom-width: 1px;
   z-index: 10;


  }
  .topnav {

    width: 1190px;
    margin-left: auto;
    margin-right: auto;
  }

