
.divmainnoidungpopup{
  border-radius: 5px;
 /* border:solid 1px #9695d8;*/
  position: fixed;
  margin-left:  34%;
  width: 450px;
  height: 175px;
  background-color: white;

}
.toppopuptocao{
  font-size: 15px;
  font-weight: bold;
/*  background-color: #c1adf121;*/
  border-top-left-radius:  5px;
  border-top-right-radius:  5px;
/*  box-shadow: 1px 1px 1px #9695d8;*/
  padding: 5px;
  padding-top: 13px;
  width: 100%;
  height: 40px;
  text-align: center;

}
.divbodynoidungpopup{
/*   border-top: solid 1px #eadcf2; */
  height: 90px;
}
.inputpopuptocao{
  font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
/*   font-weight: 900;*/
  padding: 7px;
  padding-left: 15px;
  width: 100%;
  border:none;
  height: 100%;
}
.inputpopuptocao::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}
/*.inputpopuptocao::-webkit-input-placeholder {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}*/
.divbotpopuptocao{
  width: 100%;
  height: 35px;
  padding: 4px;
  padding-top: 11px;
  padding-left: 13px;
  border-top: solid 1px #eadcf238; 
}
.btndongypopup{
    font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  border:solid 1px transparent;
  float: right;
  margin-right: 5px;
  background-color: #b3b7d812;
  color: #9695d8;
  margin-top: -5px;
}
.btndongypopup:hover{
  background-color: #9695d8;
  box-shadow: 1px 1px 1px #9695d8;
  color: white;
}





/*
*/









.divmainnoidungpopupys{
  border-radius: 3px;
  /*border:solid 1px #9695d8;*/
  position: fixed;
  margin-left:  37%;
  width: 400px;
  height: 145px;
  background-color: white;

}
.toppopuptocaoys{
      font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-top-left-radius:  5px;
  border-top-right-radius:  5px;
  padding: 5px;
  padding-top: 13px;
  width: 100%;
  height: 50px;
  text-align: center;

}
.divbodynoidungpopupys{
  padding: 10px;
  padding-left: 20px;
   /*border-top: solid 1px #eadcf2; */
  height: 55px;
}





.divbotpopuptocaoys{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: 35px;
  padding: 6px;
  border-top: solid 1px #eadcf238; 
}


.btndongypopupys{
    font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 25px;
  border-radius: 2px;
  border:solid 1px transparent;
  float: right;
  margin-right: 5px;
  background-color: #b3b7d812;
  color: #9695d8;
}
.btndongypopupys:hover{
  background-color: #9695d8;
  box-shadow: 1px 1px 1px #9695d8;
  color: white;
}

.btnhuypopupys{
    font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 25px;
  border-radius: 2px;
  border:solid 1px transparent;
  float: right;
  margin-right: 5px;
  background-color: #b3b7d812;
  color: #ff050578;
}
.btnhuypopupys:hover{
  color: white;
  background-color: #9695d8;
  box-shadow: 1px 1px 1px #9695d8;
}


.divmainnoidungpopupysgianhapnhomnhanh{
  border-radius: 3px;
  /*border:solid 1px #9695d8;*/
  position: fixed;
  margin-left:  37%;
  width: 400px;
  height: 175px;
  background-color: white;

}
.divbodynoidungpopupysgianhapnhomnhanh{
  padding: 10px;
  padding-left: 20px;
   /*border-top: solid 1px #eadcf2; */
  height: 85px;
}
