.main {
  max-width: 1176px; margin: 0 auto;
}

@font-face {
  font-family: "Baomoi";
  font-weight: 700;
  src: url("../../../fonts/baomoi-regular-2.0.2.woff2") format("woff2");
}


.baomoi {
	font-family: 'Baomoi' !important;
}


a {
	text-decoration: none;outline: 0;color: #000;
}

.link-hover1:hover, .link-hover1.active {
	background-color: rgba(200, 197, 255, 0.2);
}

.sidebar {
	width: 300px;
}
.sidebar > div {
	border: 1px solid #ddd;
	box-shadow: 0px 2px 3px #ddd;
	margin-bottom: 10px
}

.main > .container {
	width: 100%;margin: 8px 0;
}

.main > .container > div {
	float: left;
}

.main-content {
	margin: 0 8px;border: 1px solid #ddd;width: 860px; box-shadow: 0px 2px 3px #ddd;
}

.sidebar > div {
	width: 100%;background-color: #fff;display: block;
}

.sidebar > div > .--title {
	display: block;width: 100%;
	padding: 15px 10px;border-bottom: 1px solid #ddd;
}

.sidebar > div > .--files-menu li a {
	display: block;padding: 10px;
	border-bottom: 1px solid #ddd;
}
/*.sidebar > div > .--files-menu li a:hover, .--item-active {
	background-color: rgba(200, 197, 255, 0.2);color: #1b95e0 !important;
}*/

/* {
	color: red;
}*/

.sidebar > div > .--files-menu li:last-child a {
	border: 0;
}

.--item-icon {
	vertical-align: middle; width: 22px; height: 22px;
	margin-right: 8px;
}

.library {
	width: 100%;background-color: #fff;
}
.library > .head {
	padding: 15px 30px;
}

.library > .head > form{display: inline-block;;margin-right: 50px;}
.library > .head > div {display: inline-block}
.search-box {position: relative;display: inline-block;}
.search-files-input {
	font-size: 15px;padding: 8px 55px 8px 8px;width: 400px;border: 1px solid #ddd;
	border-radius: 3px;
}
.search-files-input:focus {border-color:#9695d8;}
.search-files-button {
	position: absolute;top: 0%;right: 1px;
	width: 50px;height: 95%;margin: 1px 0;
	border:0;border-left: 1px solid #ddd;
	background-color: #fff;color: #aaa;cursor: pointer;
}
.file-list {
	margin: 10px 0 0 0;
}

#sort {
	padding: 5px;width:150px;
	font-size: 14px;
}


.file-list > li {
	padding: 15px 30px;
}
.file-list > li.item {
	display: grid;grid-gap: 10px;
	grid-template-columns: 45px 580px auto 45px;
	border-top: 1px solid #ddd;
}

.file-list > li.item > div {
	position: relative;
	height: 100%;
}

.pos-absolute {
	position: absolute;top: 0;bottom: 0;margin:auto;
}
.item-icon {
	width: 40px; height: 40px;
}
.item-date-created {color: #aaa;}
.item-action, .item-date-created {
	text-align: right;
}

.item-action > span {
	position: relative;
	
}

.item-action > span > i.fa {
	display: inline-block;border: 1px solid #ddd;
	padding: 5px 7px;font-size: 11px;border-radius: 3px;color:#aaa;
	cursor:pointer;
}

/*Menu action cho file Sửa tên, xóa, tải, đăng bài với file đó*/
.action {
	display: none;position: absolute; width: 200px;
	background-color: #fff; border: 1px solid #ddd; right: 5px;top: 150%;
	text-align: left;z-index: 1;
}

.action ul li {
	padding: 8px;border-bottom: 1px solid #ddd;cursor: pointer;
}

.action ul li:hover {
	background-color: rgba(200, 197, 255, 0.2);
}



/*Upload file css*/


.open-upload-modal {
	border: 1px solid #6fc1ad;color:#fff;background-color: #6fc1ad;
	padding: 9px;font-weight: bold;cursor: pointer;
}


.mybutton {
	border: 1px solid #6667a6;background-color: #6667a6;cursor: pointer;padding: 8px;
	display: inline-block;border-radius: 3px;color:#fff;opacity: 0.8;
}

.mybutton:hover {opacity: 1}

.upload-modal {
	display: none;
	position: fixed;top:0;left: 0;
	width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);
}
.upload-modal-content {
	position: fixed;top:20%;left: 50%;transform: translateX(-50%);
	border-radius: 3px;
	width: 700px;min-height: 200px;background-color: #fff;border: 1px solid #eee;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
.upload-modal-content > div {
	padding: 10px;
}

.upload-modal-content .header {
	border-bottom: 1px solid #eee;
}

.upload-modal-content .body {
	
	
}
.upload-modal-content .body #uploads {
	height: 200px;
	padding: 0 20px;overflow: hidden;
}
.upload-modal-content .body #uploads:hover {
	overflow: auto;
}

.mybutton.upload-modal-files-button {
	position: relative;display: block;background-color: #fff;color: #000;
	text-align: center;
}
.mybutton.upload-modal-files-button:hover {
	background-color: #6667a6;color: #fff;box-shadow: 1px 2px 1px #6667a6;
}
.mybutton > #upload-modal-files {
	width: 100%;height: 100%;z-index: 100;cursor: pointer;opacity: 0;
	position: absolute;top: 0;left: 0;display: block;
}


.upload-modal-content .footer {
	border-top: 1px solid #eee;
}


#upload-list {
	max-height: 150px;overflow: hidden;
}
#upload-list:hover {
	overflow: auto;
}
#upload-list > li {
	cursor: pointer;padding: 12px 5px;margin: 5px 0;
	display: grid;grid-gap: 20px; grid-template-columns: 500px auto;
}
#upload-list > li {
	
}
#upload-list > li:hover {background-color: #eee}

#upload-list > li > .item-name {
	width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}
#upload-list > li > .item-message {text-align: right;margin-right: 20px;}


.item-message .upload-successs {
	color: green;
}

.item-message .upload-error {
	color: red;
}


/*End Upload file css*/



/*Alert thông báo sesssion*/

.file-alert {
  position: fixed;z-index: 11;
  top: 0;left: 0;right:0;margin:auto;
  min-height:80px;width: 500px;background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  transform: translateY(-200%);
}
.file-alert .message {
  color: #000;font-size: 20px;
  padding: 15px 25px;
}

.alert-animate {
  animation: alert-animation 4s linear;
}

@keyframes alert-animation {
  0% { transform: translateY(-200%); }
  15% { transform: translateY(0%); }
  90% {transform: translateY(0%);}
  100% { transform: translateY(-200%); }
}



/*thong bao ajax (actions : xoa, doi ten, ...)*/
.file-message {
	position: relative;
	width: 90%; margin: 0 auto;border: 1px solid #c8c5ff;background-color: #eee;
	padding: 15px 25px;
	display: none;
}

.file-message > p.baomoi {font-size: 20px;}
.file-message-close {
	position: absolute;top: 10px;right: 10px;cursor: pointer;
}

/*End alert thông báo session*/


/*Change name modal*/

.change-name-modal {
	position: fixed;top:20%;left: 50%;transform: translateX(-50%);
	border-radius: 3px;display: none;
	width: 400px;min-height: 100px;background-color: #fff;border: 1px solid #eee;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.change-name-modal .header {
	padding: 10px;border-bottom: 1px solid #eee;
	position: relative;
}

.change-name-modal .header .close-change-name-modal {
	position: absolute;top: 10px; right: 10px;cursor: pointer;
}

.change-name-modal .body {
	padding: 10px;
}

.change-name-modal .body input#filename {
	width: 100%;padding: 7px;border: 1px solid #6667a6;display: block;
}

.change-name-modal .body button {
	display: inline-block;padding: 5px;background-color: #6667a6;
	width: 100%;border: 1px solid #6667a6; margin: 15px 0 0 0;color: #eee;opacity: 0.7;
	cursor: pointer;
}


/*END change name modal*/


/*Slidedown alert*/
.slidedown-alert {
	width: 500px;background-color: #fff;min-height: 70px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	position: fixed; margin: auto;left:0;right:0;z-index: 11;
	transform: translateY(-120%);
}
.slidedown-alert .--content {
	padding: 20px;
}
.slidedown-alert .--content > p {font-size: 19px;}

.slidedown-alert-animation {
	animation: slidedown-animation 5s linear;
}
.slidedown-alert-animation:hover {
  animation-play-state: paused;
}

@keyframes slidedown-animation {
	0% {transform: translateY(-150px)}
  10% {transform: translateY(0px)}
  90% {transform: translateY(0px)}
  100% {transform: translateY(-150px)}
}

/*END Slidedown alert*/



/*Google Drive*/

.googledrive > div {
	border-bottom: 1px solid #ddd;padding: 8px;
}
.googledrive .register-box, .googledrive .delete-box {
	text-align: center;
}
.googledrive .register-box .--button {
	display: inline-block;background-color:#6fc1ad;color:#fff;font-weight: bold;;
	padding: 10px;
}

.delete-box .--button {
	color :#fff; background-color: #fc2856; padding: 10px;display:block;opacity: 0.8;
}
.delete-box .--button:hover {
	opacity: 1;
}

.quickadd-box form > div {
	position: relative;
	padding: 8px;text-align: center;cursor: pointer;margin:8px 0;border: 1px solid #fff;
	width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.quickadd-box form > div:hover {
	border: 1px solid #6667a6;
}
.quickadd-box form .--file {
	position: absolute;cursor: pointer;
	display: block;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;z-index: 1;
}
.quickadd-box form .--button {
	display: block;width: 100%;padding: 10px; border: 0;cursor: pointer;
	color: #fff;background-color: #6667a6;opacity: 0.8;
}
.quickadd-box form .--button:hover {
	opacity: 1;
}

.list-actions li a {
	display: block;
}



/*End Google Drive*/
