*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    color:#1DA1F2;
    /* background-color: #1DA1F2; */
}

.search-container {
    float: left;
  }
  .search-container button {
      float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;



  }
  .search-container button:hover {
    background: #ccc;
  }
  .topnav input[type=text]  {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: #d2e5f1;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
  }
  body {
    background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
    margin: 0px;
  }

  .topnavroot{
   background-color: white;
   position: sticky;
   top: 0;
   border-bottom-color: rgb(118, 223, 236);
   border-style: solid;
   border-width: 0px;
   border-bottom-width: 1px;
   
   
  }
  .topnav {
     
    width: 1190px; 
    margin-left: auto;
    margin-right: auto;
  }
  .contentmain {

      /* background-color: cadetblue; */
      height: 1500px;
  }
  #anhbia{
    width:1184px; height: 325px; background-color: pink;border-bottom-left-radius: 10%;border-top-right-radius: 7%;
    margin-top: 4px;
  }
  .leftnav{
     float:left; background-color:#e6ecf0; width:300px; height: 1500px; margin:4px; margin-top: 8px;
  }
  #thongtincuanhom{
    float:left; background-color: rgb(150, 149, 216); width:300px; height: 200px;border-radius: 1%;
  }
  #thongtinkhaccuanhom{
    float:left; background-color: rgb(150, 149, 216); width:300px; height: 500px;margin-top: 8px;border-radius: 1%;
  }
  .content{
    float:left;   width:560px; margin: 4px;margin-top: 8px;
  }
  .subcontent{
    float:left; background-color: white;  width:560px; height: 500px;margin-bottom: 8px;
  }
  .rightnav{
     float:left; background-color: rgb(118, 223, 236); width:300px; height: 700px;margin: 4px;margin-top: 8px;border-radius: 1%;
  }


