

* {box-sizing: border-box;}
.admin-chat-sidebar {
	position: fixed;top: 0;left:0;
	height: 100%;width: 0px;background-color: #c8c5ff;z-index: 1;
	/*transform: translateX(-100%);*/margin-left: -100%;
	transition: 0.5s;
}

.admin-chat-sidebar > div {
}
.admin-chat-sidebar .content {
	height:400px;max-height:400px;
	position: relative;
}

.admin-chat-sidebar .content .chat-list {
	height: 100%;overflow-y: auto;padding: 4px !important;position: relative;
}

.admin-chat-sidebar .content .notification {
	color: red;bottom: 0;left: 0;
}

.admin-chat-sidebar .chat {
	/*border: 1px solid red;*/
	height:180px;position: absolute;bottom: 0;left: 0;width: 100%;
	padding: 8px;
}

.admin-chat-sidebar .chat .chat-box {
	height: 70px;border-radius: 3px;padding: 8px;
	display: block; width: 100%;background-color: #eee;border: 1px solid #aaa;
}

.admin-chat-sidebar .chat .chat-box:focus {
	border: 1px solid #6667a6;box-shadow: 1px 1px 3px #6667a6;
}

.admin-chat-sidebar .chat .send-chat-button {
	display: inline-block;
}



.item {
	display: block;width: 100%;
	animation: show_message 0.3s linear;
}
.item.own > div {
	border: 2px solid #6667a6;
}
.item > div {
	margin: 4px 0;padding: 8px;border-radius: 3px;
}
.item >div:hover {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.item label {
	display: block;}

.item-right, .item-left {
	background-color: #fff;max-width: 90%;
}
.item-right label {
	text-align: right;
}
.item-left label {
	text-align: left;
}


@keyframes show_message {
	from { opacity: 0; }
	to { opacity: 1;}
}


#close-chat-button {
	margin-right: 10px;cursor: pointer;
}