/*select#page-list {
	-moz-appearance: none;-webkit-appearance: none; text-align: center;
	border: 0;
}*/


pre#contact-message {
	padding: 0px !important; margin:0 !important;
	white-space: pre-wrap;word-break: unset;
	line-height: 20px;
	background-color: #fff;border: none;
	max-height: 200px;overflow-y: auto;font-size: 14px;
}
pre#contact-message code {
	font-family: "Arial";
}

