
.three-col-layout {
	width: 1176px;max-width: 1176px;min-width: 1176px;margin: 8px auto;
}

.three-col-layout > div {
	float: left;
}

.three-col-layout > .sidebar-col {
	width: 300px;
}

.three-col-layout > .middle-col {
	width: 560px;margin:0 8px;
}

.text-6667a6 {
	color: #6667a6 !important;
}
.bg-6667a6 {
	background-color: #6667a6 !important;
}
.btn-6667a6 {
	background-color: #6667a6 !important; color: #fff !important; cursor: pointer;
}
.mybtn {
	cursor: pointer;
}
