textarea:focus{
  outline:0px !important;
    -webkit-appearance:none;
}


.xemthembaiviet{
 width: 100%;height: 50px;text-align: center; 
 background-color: red;
 border-radius: 5px;
 border:solid 1px #eadcf2;
 box-shadow: 1px 2px 2px #9695d8;
}

.ykienkhaosat{
  width: 100%;
  height: 30px;
  border-radius: 1px;
  border:solid 1px #eadcf2;;
  margin-bottom: 3px;
  padding-left: 7px;
}
.ykienkhaosatshow{
  width: 100%;
  height: 30px;
  border-radius: 1px;
  border:solid 1px #eadcf2;;
  margin-bottom: 3px;
  padding-left: 7px;
  cursor: pointer;
  background-color: #fcfcfc;
}
.divomshowxbaiviet{
  display: none;
  margin-left: 525px;margin-top: 40px;
  width: 150px;height: auto;
  background-color: white;position: absolute;
  border-radius: 10px;
  border:solid 1px #3a11510d;
  /*border-top-left-radius:6px;*/
  box-shadow: 1px 1px 1px #9695d8;
  padding-left: 12px; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.lixpopup{
  border-bottom: 1px solid #eadcf2;
  margin-right: 10px;
}
.lixpopup:hover{
  border-radius: 3px;
  background-color: #eadcf270;
  cursor: pointer;
}
.spanshowxbaiviet{
    margin-left: 0px;
      bottom: 100%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: solid 15px white;
    border-left: solid 12px transparent;
    border-right: solid 18px transparent;
}
.spanclickxbaiviet{
 padding-left: 4px;
 position: absolute; 
 background-color: transparent;
 color: #2b0d3c0d;
 height: 30px;
 width: 30px;
 margin-left: 526px;
 float: right;
 margin-top: 2px;
 cursor: pointer;
}
.divchuaykienkhaosat{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 10%;
  display: none;
/*  border-bottom:solid 1px #e4e6e8;*/
}
.divbtnxoaykiendangbaiviet{
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 8px;
  color: #e4e6e8;
  cursor: pointer;
}
.btnaddkhaosat{
  width: 25px;height: 25px;border-radius: 1px;border: solid 1px #e4e6e8;padding: 2px;padding-left: 6px;cursor: pointer;
}
#divthemanhbaidang{
  margin-left: 15px; 
  float: left;
}
#divthemteptinbaidang{
  margin-left: 15px;
  float: left;
}
.ipbaivietnopfile{
  padding: 2px;
}
/*
.submitnopbai{
  float: right;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border:solid 1px #eadcf2;
  background-color:white;
}
*/

.divtopfiletus{

  margin-top: 20px;
  padding: 13px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e6e8;
  border-top: 1px solid #e4e6e8;
  width: 534px;
  height: auto;
}
#divcacluachondinhkem{
  padding-bottom: 4px;
  margin-left: 60px;
  margin-right: 7px;
  height: 100%;
  border-bottom: solid 1px #9695d8; 
}
#divluachondinhkem{
  height: 25px;
  /*background-color: #9695d8; */
  width: 100%;
  margin-bottom: 5px;
}
#imgdangbaiviet{
	width: 40px; height: 40px; border-radius: 50%; margin-top: 10px;
	margin-left: 10px; float: left;
}
#iptextdangbaiviet{
      font-family:  'myFont', Arial, Helvetica, sans-serif;
  font-size: 15px;
	border: 1px solid #c5cfd6; border-radius: 3px; float:left;width: 493px;
	 margin-left: 10px;margin-top: 15px;
	 border-color: #9695d8;
     border-style: none; 

    border-color: Transparent; 
    overflow: auto;  
    width: auto;
    resize: none;
}
#divbigformdangbaiviet{
	height: auto;background-color: white; margin-bottom: 5px; 
	border: 1px solid #eadcf2;
  box-shadow: 1px 2px 3px #9695d8;

  /*#c5cfd6*/
			border-radius: 3px; 
			margin-bottom: 10px;
}
#divtrongformdangbaiviet{
	height: 125px; border-bottom: 1px solid #c5cfd6;
}
/*#divbottomformdangbaiviet{
  height: 50px;
}*/
#btndangbaiviet {
   cursor: pointer;
	margin-top: 9px;
	margin-right: 5px;
    border: 1px solid #eadcf2;
    background-color: white;
    color: black;
    padding: 5px 17px;
    font-size: 16px;
    cursor: pointer;
     border-radius: 3px;
      /*border-color: #2196F3;*/
      border-color: rgb(150, 149, 216);
      color: rgb(150, 149, 216);
    /*color: dodgerblue;*/
    float: right;
       -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btndangbaiviet:hover{
  background-color: #9695d8;
  font-weight: bold;
  color: white;
}


#divnoidungbaiviet{
	height: 50px;
}
#divoptionradiobutton{
  margin-top: 5px;
	height: auto;
	padding-left: 0px;
}
#divbtndangbaiviet{
	float: right;
}
#divbigformdangbaiviet input[type="file"] {
    display: none;
}


.custom-file-upload {
   /* border: 1px solid #9695d8;*/
    /*display: inline-block;*/
    padding: 3px 6px;
    cursor: pointer;
   /* border-radius: 3px;*/
}














/*checkbox*/
/* The container */
.optionlevel2{
	margin-top: 50px;
	display: none;
  margin-bottom: 20px;
}
.datetimepickker{
  border-radius: 3px;
  border: solid 1px; 
  width: 170px;
  border-color: #9695d8;
}
.divoptionradio{

	float: right;
	width: 30%;
	height: auto;
  border-top: 50%;
  margin-right: 5px;
	/*border: solid 1px;*/
	/*border-radius: 1px;*/
	/*border-color: transparent transparent  #9695d8 transparent;*/
	
/*	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
.container {
	float: left;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
     position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}


.container input:checked ~ .checkmark {
    background-color: rgb(150, 149, 216);
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}


.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#optionthubai{

}

/*end checkbox*/















/*combobox*/
/*the container must be positioned relative:*/
.custom-select {
	
	padding-top: 7px;
	margin-left: 60px;
	padding-left: 0px;
	float: right;
	width: 350px;
 	position: absolute;
  	font-family: Arial;

}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: white;
}
/*style the arrow inside the select element:*/
.select-selected:after {

  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(150, 149, 216) transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(150, 149, 216) transparent;
  top: 14px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: rgb(150, 149, 216);
  padding: 5px 10px;
  border: 1px solid transparent;
  border-color: rgb(150, 149, 216)  rgb(150, 149, 216) rgb(150, 149, 216) rgb(150, 149, 216);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*endcombobox*/




















/*custom datetime*/
/* Removes the clear button from date inputs */
 input.checkthuykien[type="datetime-local"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
 input.checkthuykien[type="datetime-local"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
 input.checkthuykien[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: #9695d8;
}

/* A few custom styles for date inputs */
 input.checkthuykien[type="datetime-local"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 13px;
    border:1px solid #9695d8;
    background: transparent;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

 input.checkthuykien[type="datetime-local"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
/*endcustom*/

/*content*/
.contentmain {

      /* background-color: cadetblue; */
      /*height: 1500px;*/
  }

  .leftnav{
     float:left; background-color:#e6ecf0; width:300px; height: 1500px; margin:4px; margin-top: 8px;margin-left: 30px;
  }
  #thongtincuanhom{
    float:left; background-color: white; width:300px; height: 45px;border-radius: 1%;
    border: solid 1px #eadcf2;margin-bottom: 8px;border-radius: 3px;box-shadow: 2px 3px 5px #9695d8;
  }
  #thongtincuanhom:hover{
    background-color:#f9f9f9;
  }
  .thongtinkhaccuanhom{
    float:left; background-color: white; width:300px; height: auto;margin-top: 0px;border-radius: 1%;
    border: solid 1px #eadcf2;padding-bottom: 10px;box-shadow: 2px 3px 5px #9695d8; margin-bottom: 10px;
  }
  .content{
    float:left;   width:560px; margin: 4px;margin-top: 8px;
  }

  .rightnav{
     float:left; background-color: transparent; width:240px; height: auto;margin: 4px;margin-top: 8px;border-radius: 1%;
     /*box-shadow: 1px 2px 5px #9695d8;border: solid 1px #eadcf2;*/
  }
  .divtoprightnav{
     float:left; background-color: white; width:240px; height: 45px;border-radius: 3%;
     box-shadow: 1px 2px 5px #9695d8;border: solid 1px #eadcf2;margin-bottom: 5px;
  }
  #tuychonnhom{
      
  }
/*endcotent*/






.dropdown {
  position: absolute;
  /*top:50%;*/
  /*transform: translateY(-50%);*/
}

/*a {
  color: #fff;
}*/

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown div,
.dropdown div:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
/*#4F6877*/
.dropdown dt div {
  background-color: #e4e6e836;
  font-size: 15px;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 8px 20px 5px 10px;
  min-height: 38px;
 /* line-height: 24px;*/
  /*overflow: hidden;*/
  border: 0;
  width: 552px;
  border-bottom: solid 1px  #e4e6e8;
}

.dropdown dt div span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  font-size: 15px;
  background-color: #e9eafb;
  border: 0;
  color: black;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 552px;
  list-style: none;
  height: 110px;
  overflow: auto;
  z-index: 1000;
  border-bottom-left-radius:3px;
  border-bottom-right-radius: 3px; 
  padding-bottom: 5px;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li div {
  padding: 5px;
  display: block;
}

.dropdown dd ul li div:hover {
  background-color: #fff;
}




.dropdown dd ul::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  background-color: #e4e6e82b;
}

.dropdown dd ul::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.dropdown dd ul::-webkit-scrollbar-thumb
{
  background-color: #18222c47;
/*  border: 1px solid #18222c47;*/
}