.subcontent{
	height: auto; margin-bottom:8px;border-radius: 3px; border: solid 1px #eadcf2;
}
.headtus{

}
.divtopcontent{
	width: 40px; height:40px; margin-top: 15px; margin-left: 15px; float: left;
}
.imgavtnguoidang{
	width: 40px; height: 40px; border-radius: 50%;
}
.divtennguoidang{
	float:left; margin-left:20px;
}
.spantennguoidang{
	margin-top: 20px;margin-bottom:0px;
}
.spanthoigiandang{
	 margin-top: -22px; color:#ccc;
}
.bodytus{
	padding-left: 12px; height: auto; width: auto;  
}
.texttus{
	margin-bottom: 7px; margin-top: 5px; font-family: inherit;
}
.divimagetus{
	height: auto;
	
}
.imgtus{
	width: 536px; height:auto;max-height: 500px;
}
.divclicknopbai{
	width: 534px;height: 50px;border:  solid 1px #eadcf2; margin-bottom: 5px;padding: 7px;cursor: pointer;
}
.divclickbinhchon{
	width: 534px;height: 50px;border:  solid 1px #eadcf2; margin-bottom: 5px;padding-top: 15px;cursor: pointer;
}
.divcacluachonvote{
	width: 70%;margin-left: 10%;
	margin-right: 20%;
	height: auto;
	display: none;
}





