.subcontent{
	height: auto; 
	margin-bottom:8px;
	border-radius: 3px; 
	border: solid 1px #eadcf2;
    float:left; 
    background-color: white;  
    width:560px;
    box-shadow: 1px 2px 5px #9695d8;

  
  
}
.subcontentpheduyet{
	height: auto; 
	margin-bottom:8px;
	border-radius: 3px; 
	border: solid 1px #e4e6e8;
    float:left; 
    background-color: white;  
    width:560px;
    /*box-shadow: 1px 2px 5px #9695d8;*/

  
  
}

.upload-btn-wrapperl{
	width: 50%;float: left;
	  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapperl input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.btnlipfile{
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 1px;
  font-size: 15px;
  font-weight: bold;
  max-height: 27px;
}
.btnlipfile:hover{
	background-color:  gray;
	color: white;
	cursor: pointer;
}

.ipbaivietnopfile:hover{
		background-color:  gray;
	color: white;
	cursor: pointer;
}

.submitnopbai{
  float: right;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border:solid 1px #9695d8;
  color: #9695d8;
/*  box-shadow: 1px 1px 1px #9695d8;*/
  background-color:white;
}
.submitnopbai:hover{
	cursor: pointer;
	background-color: #9695d8;
	color: white;
}

.divxemtepdanopthubai{
	background-color: white; border-top: solid 1px #d0c0af36;font-weight: bold;text-align: center;padding: 10px;color: #9695d8;

}
.theatepduocnopbai{
	text-decoration: none;
}
.headtus{

}
.divtopcontent{
	width: 40px; height:40px; margin-top: 15px; margin-left: 15px; float: left;
}
.imgavtnguoidang{
	width: 40px; height: 40px; border-radius: 50%;border:solid 1px gray;
}
.divtennguoidang{
	float:left; margin-left:20px;
}
.spantennguoidang{
	margin-top: 20px;margin-bottom:0px;color: black;
}
.spanthoigiandang{
	 margin-top: -22px; color:#ccc;
}
.bodytus{
	padding-left: 12px; height: auto; width: auto;  
}
.texttus{
	margin-bottom: 7px; margin-top: 5px; font-family: inherit;
}
.divimagetus{
	height: auto;
	
}
.imgtus{
	width: 536px; height:auto;max-height: 500px;
}
.divclicknopbai{
	width: 534px;height: 50px;border:  solid 1px #eadcf2; margin-bottom: 5px;padding: 7px;cursor: pointer;
}
.divclickbinhchon{
	width: 534px;height: 50px;border:  solid 1px #eadcf2; margin-bottom: 5px;padding-top: 15px;cursor: pointer;
}
.divcacluachonvote{
	width: 78%;margin-left: 10%;
	margin-right: 20%;
	height: auto;
	display: none;
	margin-bottom: 10px;
}

.spansoluongnguoichon{
	margin-left: 15px;
	padding-top:  4px;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:solid 1px #eadcf2;
	float: left;
    position: absolute;
}
.clxemketquakhaosat{
	background-color: white;width: 78%;margin-left: 10%;
	margin-bottom:  7px;
	margin-top: 3px;
	height: 30px; display: none;text-align: center;cursor: pointer;
	padding: 4px;
	border-radius: 5px;
	border-bottom: solid 1px #d0c0af36;
	box-shadow: 0px 1px 1px #d0c0af36;
}

.cldivthoigianhetvote{
	border-top: solid 1px #d0c0af36;
	width: 98%;text-align: center;height: 35px; display: none;
	padding-top: 7px;
}





